flows.json
[{"id":"831abb45.ca05e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"831abb45.ca05e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":240,"wires":[]},{"id":"70c6eacd.76fd24","type":"ibmiot in","z":"831abb45.ca05e8","authentication":"apiKey","apiKey":"92f7147f.91e618","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"234567","applicationId":"","deviceType":"Raspberrypie","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"1","x":90,"y":240,"wires":[["a8c62348.fd989","6394d8dc.786bf8","bb65c355.51c8b","2dfc3e01.dc3d42"]]},{"id":"6394d8dc.786bf8","type":"function","z":"831abb45.ca05e8","name":"Humidity","func":"global.set(\"humidity\",msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["f2f2649a.0d0d98"]]},{"id":"a8c62348.fd989","type":"function","z":"831abb45.ca05e8","name":"Temparature","func":"global.set(\"temparature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["f2f2649a.0d0d98"]]},{"id":"bb65c355.51c8b","type":"function","z":"831abb45.ca05e8","name":"Pressure","func":"global.set(\"pressure\",msg.payload.Pressure)\nmsg.payload=msg.payload.Pressure\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["f2f2649a.0d0d98"]]},{"id":"2dfc3e01.dc3d42","type":"function","z":"831abb45.ca05e8","name":"Description","func":"global.set(\"description\",msg.payload.Description)\nmsg.payload=msg.payload.Description\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["f2f2649a.0d0d98"]]},{"id":"69acc746.5aaff8","type":"http in","z":"831abb45.ca05e8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":440,"wires":[["f3be6247.c57e9"]]},{"id":"8c73a5e5.ec9c58","type":"http response","z":"831abb45.ca05e8","name":"","statusCode":"","headers":{},"x":670,"y":440,"wires":[]},{"id":"f3be6247.c57e9","type":"function","z":"831abb45.ca05e8","name":"","func":"msg.payload={\n'temperature':global.get(\"temparature\"),\n'humidity':global.get(\"humidity\"),\n'pressure':global.get(\"pressure\"),\n'description':global.get(\"description\")}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["8c73a5e5.ec9c58"]]},{"id":"b752169b.38ffd8","type":"ibmiot out","z":"831abb45.ca05e8","authentication":"apiKey","apiKey":"92f7147f.91e618","outputType":"cmd","deviceId":"234567","deviceType":"Raspberrypie","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":600,"wires":[]},{"id":"40660f05.e030c","type":"ui_button","z":"831abb45.ca05e8","name":"","group":"eb188f32.0a89c","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR STATUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR ON  IF HUMIDITY LESS THAN 30 AND TEMPERATURE MORE THAN 305,ELSE OFF THE MOTOR TO AVOID WASTAGE\"}","payloadType":"json","topic":"","x":190,"y":660,"wires":[["b752169b.38ffd8"]]},{"id":"e6927115.2ed9b","type":"ui_button","z":"831abb45.ca05e8","name":"","group":"eb188f32.0a89c","order":1,"width":0,"height":0,"passthru":false,"label":"VALUES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":180,"y":560,"wires":[["b752169b.38ffd8"]]},{"id":"228a4e3e.9cbd02","type":"http in","z":"831abb45.ca05e8","name":"","url":"/alert","method":"get","upload":false,"swaggerDoc":"","x":180,"y":780,"wires":[["4ce9a578.22873c"]]},{"id":"d5d428a1.d3ea78","type":"http response","z":"831abb45.ca05e8","name":"","statusCode":"","headers":{},"x":570,"y":780,"wires":[]},{"id":"4ce9a578.22873c","type":"function","z":"831abb45.ca05e8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":780,"wires":[["d5d428a1.d3ea78"]]},{"id":"92f7147f.91e618","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"eb188f32.0a89c","type":"ui_group","z":"","name":"Default","tab":"6d296196.61832","order":1,"disp":true,"width":"6","collapse":false},{"id":"6d296196.61832","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]